main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 90vw;
  max-width: 920px;
  margin: 5rem auto;
  padding: 2rem 2rem;
  background: rgb(214, 212, 210);
  border-radius: 1rem;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: 1rem;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  background: rgb(233, 233, 233);
  border: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.content{
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid rgb(234, 230, 235);
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.content header{
  display: flex;
  justify-content: space-between;
}
